Source: Enrollment Requirements
URL: https://isss.oie.gatech.edu/node/4100

# Enrollment Requirements

Per U.S. federal regulations, F1 and J1 student visa holders are required to enroll full-time each term unless approved for an authorized reduced course load. Full-time enrollment at Georgia Tech is considered 12 credit hours for both Graduate and Undergraduate students. Students must be registered for all 12 credits at Georgia Tech and cannot utilize credits/enrollment at other instutitions to count towards the full-time enrollment. Unless approved for CPT and working elsewhere or engaged in Study Abroad or GRIP, F-1 and J-1 student visa holders are expected be inside the U.S. during their program of study and participating in their degree while physically located at the GT Atlanta campus.

#### Online Courses

Only 3 credit hours of fully at a distance or online coursework can count towards full-time enrollment.

#### Audit Credit Hours

Undergraduate students are not able to utilize audit credit hours to count towards their full-time enrollment of 12 credits. Any courses taken as audits will not count towards 12 credit minimum requirement.

Graduate students can register for up to 3 audit hours as part of their 12 hour required minimum.

#### Pass/Fail Credit Hours

Both Graduate and Undergraduate students can choose to take courses as pass/fail based on the Georgia Tech guidelines. While OIE does not have a limitation on how many courses can be pass/fail, we encourage students to speak with their academic departments before changing grade mode. OIE cannot speak to how the change can impact your academic progress and so it is important you are well aware of any implications this may have on your degree progress.

#### Summer Term

The summer term is considered a vacation period which means in most cases F-1 and J-1 student visa holders are not required to register during the summer term. However, students starting their program in the summer semester at Georgia Tech or graduating in the summer semester are required to enroll full-time (12 credits) unless approved for a reduced course load. Full-time enrollment is considered as 12 credits for those starting full summer and 6 credits for those starting their program at GT in late short summer. If you are admitted into the early short summer, then you will have to be registered in 6 credits for both early and late short summer to add up to a total of 12 credits.

If a student who is not required to register full-time during the summer term chooses to register, then there is no maximum or minimum number of credits required as it is not a required term for them. The student can choose to enroll in as many or as few credits of online or in-person instruction as they wish.

Exception- Summer CPT Participants: Students authorized for CPT during the summer term are required to register full-time and are not eligible for the vacation period. If your internship/co-op credits are not enough for you to be enrolled full-time, you will need to find additional credit hours to register to make up 12 credits.

#### Reduced Course Loads

The U.S. federal regulations outline specific academic and medical reasons for which an F1/J1 student visa holder can be permitted to drop below full-time enrollment. F1/J1 student visa holders must receive their RCL approval from OIE prior to dropping below full-time enrollment. Should a student choose to drop below full-time enrollment before receiving RCL approval, they are considered out of status, and OIE is required by U.S. federal regulations to terminate their F1/J1 status.

Remember, obtaining approval for a reduced course load from OIE only ensures that you will not violate your immigration status by being enrolled less than full-time. OIE encourages you to speak with your academic department and/or the Registrar's office to ensure you understand the full impact of choosing to drop below full-time enrollment on your student status at Georgia Tech before dropping your courses.

Type of RCL | RCL Reason | Eligibility Requirements | Enrollment Expectations
Academic | Initial Difficulty with the English Language Initial Difficulty with Reading Requirements Unfamiliarity with American Teaching Methods Improper Course Level Placement | Only available during a student’s first term in their program of study. Academic Department must support and verify the need for the RCL. | Students must remain enrolled in at least 6 credits. Graduate Students- only 3 credits of audit can count towards the 6 credit minimum. Undergraduate Students- no audit credits can count towards the 6 credit minimum. Only 3 credits of online courses can count towards the 6 credit minimum.
Academic | To Complete Course of Study in Current Term | Only available during a student’s final term in their program of study. Academic Department must verify it is the student’s final term and how many degree required credits are remaining for the student | Student must have at least one degree required course in final term remaining. The remaining credits cannot all be online courses.
Medical | Medical (physical or psychological) | No restriction on which term this authorization can be obtained during a student’s degree program. Student must provide documentation from a licensed medical doctor, doctor of osteopathy, licensed psychologist, or clinical psychologist. Student cannot receive more than 12 months of authorization for a medical RCL over their entire program of study. | Students can reduce their enrollment to 0 credits if approved for a medical reduced course load.

How do I submit an academic reduced course load request to OIE?

1. Submit the Academic Reduced Course Load e-form request in iStart. In the e-form, explain the reason for the reduced course load and provide the name of the appropriate Academic Advisor (undergraduates) or Graduate Coordinator (graduates)
2. The e-form will be routed to the academic advisor/graduate coordinator for review. Once the department completes their portion of the request, it will be routed to OIE for review.
3. Once OIE receives the completed request from both the student and department, OIE will review the RCL request and provide an update to the student over email within the processing time outlined on our website. Note, the processing time does not begin until OIE receives the completed request from both the student and the department.
4. Upon receiving their RCL approval email, the student may drop below full-time. If the RCL request is not approved, the student must remain enrolled full-time. Should a student choose to drop below full-time enrollment before receiving or without RCL approval, they are considered out of status, and OIE is required by U.S. federal regulations to terminate their F1/J1 status.

How do I submit a medical reduced course load request to OIE?

Before submitting the medical RCL request to OIE, please make sure to understand and discuss with the STAMPS Health Center how enrolling less than full-time at GT will impact your eligibility for the GT student health insurance.

1. Obtain the following documents from a licensed medical doctor, psychiatrist, doctor of osteopathy, licensed psychologist, or clinical psychologist:  

1. Completed Recommendation for a Reduced Course Load Due to an Illness or Medical Condition form.
2. A signed, typed letter on the doctor or psychologist's letterhead. The letter must state that the doctor or psychologist does not recommend full-time enrollment due to a medical issue and it must have been issued within the last 6 months.
3. A copy of the doctor or psychologist’s business card.
2. Log in to iStart and complete the Medical Reduced Course Load e-form which includes uploading the documents listed above.
3. Once OIE receives the completed request, OIE will review the RCL request and provide an update to the student over email within the processing time outlined on our website.
4. Upon receiving their RCL approval email, the student may drop below full-time. If the RCL request is not approved, the student must remain enrolled full-time. Should a student choose to drop below full-time enrollment before receiving or without RCL approval, they are considered out of status, and OIE is required by U.S. federal regulations to terminate their F1/J1 status.

Note, medical reduced course loads are approved on a semester-by-semester basis. Therefore, students will need to reapply for a medical reduced course for each semester in which they require support with being enrolled less than full-time due to a medical issue.

#### Enrollment Waiver

Those approved for enrollment waivers will have their I-20/DS-2019 forms updated to indicate that degree program requirements were met in the term before the term in which they have been approved for the enrollment waiver. For example, this means that someone approved for an enrollment waiver for the summer term will have their I-20/DS-2019 form updated to reflect the end of the spring term as their program end date. As a reminder, your eligibility to engage in on-campus employment as an F-1/J-1 student visa holder without work authorization ends on your program end date.

OIE completes an audit of those approved for enrollment waivers within 21 days of the enrollment waiver deadline and will take action on records not already up-to-date. If you have any questions regarding how the enrollment waiver may impact your immigration record, you are encouraged to consult with an OIE advisor before submitting the request. If you have questions about the enrollment waiver process, please consult with the Office of Graduate Education and the Registrar's Office.

#### Leave of Absence and Withdrawals

If you are not able or do not plan to maintain your F-1 student status by meeting F-1 enrollment requirements outlined above, then you need to submit the “Intent to Depart US/End I-20” e-form in iStart under F Students. After receiving the Intent to Depart e-form, OIE will terminate your F-1 SEVIS record and notate that you are taking a leave of absence for the term in which you withdraw. If you are not already outside the U.S. when OIE terminates your immigration record, you need to make plans to leave the U.S. within 15 days of the termination of the SEVIS record.

Timing Considerations:

- For students withdrawing after the start of classes, the “Intent to Depart US/End I-20” e-form must be submitted prior to dropping your courses.
- If you know coming up to the next term you will be taking a leave of absence, then you will need to complete the “Intent to Depart US/End I-20” e-form prior to the first day of classes for the term in which you will be taking a leave of absence.

You need to notify OIE of your plans to try and return to the U.S. in F-1 status by completing the “I-20 Request for Returning Students” e-form in iStart no later than 60 days before the start of the term you hope to return. This e-form is found in iStart > F Students > I-20 Request for Returning Students.

If you have any questions about this page or how to maintain your F-1 student visa holder status, you are encouraged to consult with an OIE advisor.

This notice applies to all information and resource materials provided by the OIE for the domain oie.gatech.edu and for all other information provided by OIE in any media format. It is provided for informational purposes only, and is not represented to be error free, complete, accurate or current. The information contained herein is not legal advice and should not be used as a substitute for the legal advice or legal opinions of a licensed professional. Users should contact their own personal attorney or licensed professional to obtain appropriate legal advice or other professional counseling with respect to any particular issue or problem.

OIE is a unit of the Vice Provost of International Initiatives in the Office of the Provost.