Source: OPT Employment Types and Requirements
URL: https://isss.oie.gatech.edu/isss/types-work-constitute-employment-opt-evidence-employment

# Types of Employment on Pre-/Post-Completion OPT

Navigation

- Requirements
- Allowable on both pre-completion and standard post-completion OPT
- Which documents should I have to prove that I have been employed?
- If you engage in employment that is not paid while on OPT, we recommend you keep the following records

Quick Links

- Virtual F-1 OPT Workshop
- Study in the States: Information about OPT
- USCIS's Website: Information about OPT
- USCIS's Website: I-765 Form
- OIE's Supplementary I-765 Form Guidance
- OPT Travel Information
- OPT FAQ page
- STEM OPT Extension website

There are particular types of employment that F-1 visa holders may participate while on standard pre-completion and post-completion OPT.

For information about STEM OPT employment, please visit our STEM OPT resources here." and link to STEM OPT Extension | International Student and Scholar Services (gatech.edu)

##### Requirements

- Employment must be within the student's field for which OPT was authorized (listed on the I-20).
- At least 20 hours/week (for standard post-completion OPT).
- Employment may be paid or unpaid as long as the unpaid work does not violate labor laws. The Department of Labor's Wage and Hour Division determines labor laws.

##### Allowable on both pre-completion and standard post-completion OPT

- Regular paid employment in a position directly related to the student's program of study. Students may work for multiple employers, as long as it is directly related to the student's program of study.
- Payment by multiple short-term employers: Students such as musicians and other performing artists, may work for multiple short term employers (gigs). The student should maintain a list of all gigs, the dates and duration.
- Work for hire: This is commonly referred to as 1099 employment where an individual performs a service based on a contractual relationship rather than an employment relationship. If requested by DHS, students should be prepared to provide evidence showing the duration of the contract periods and the name and address of the contracting company.
- Self-employed business owner: Students on OPT may start a business and be self-employed. The student should be able to prove that he or she has the proper business licenses and is actively engaged in a business related to his or her degree program.
- Employment through an agency: Students on post-completion OPT must be able to provide evidence showing they worked an average of at least 20 hours per week while employed by the agency.
- Volunteers or unpaid interns (for standard pre or post-completion OPT): Students may work as volunteers or unpaid interns, where this practice does not violate any labor laws. The work should be at least 20 hours per week for students on post-completion OPT. A student should be able to provide evidence, acquired from the student's employer, to verify that he or she worked at least 20 hours per week during the period of employment.

- Q: Can I do an internship and/or volunteer work on OPT? If so, will I stop accumulating unemployment days?

A: It is possible for students on OPT to do internships and volunteer work, as long as you are working at least 20 hours per week and all work is directly related to your major. In that case, the work can count as OPT employment and you would not accumulate unemployment days. You want to be sure that any volunteer work is truly volunteer work and that it does not violate US labor laws. For instance, it is not possible to do work that is normally paid on a volunteer/unpaid basis. Doing paid work for free would violate labor laws and not count as OPT employment. Typically, volunteer work should be with a non-profit organization/charity. When doing volunteer work, we recommend that you carefully document the volunteer-nature of the work and the hours worked, in case you ever need evidence of this in the future. Please work with the organization that you volunteer with to determine how to best document this.

Q: Can I volunteer without pay for a GT professor to help avoid accruing unemployment days?

A: It is possible to engage in Optional Practical Training in an unpaid role that is compliant with U.S. laws, including the Fair Labor Standards Act (FLSA). We encourage you to contact Georgia Tech’s Human Resources Service Now to request review and approval of the volunteer appointment prior to engaging in any projects associated with your practical training experience.

##### Which documents should I have to prove that I have been employed?

1. Copies of job offer letters and agreements/contracts with all OPT employers including start and end dates.
2. Copies of job descriptions including job title, duties, location, pay rate and proposed number of hours to be worked per week.
3. If you worked for an agency or consultancy, keep evidence of the projects you worked on.
4. Keep copies of your pay vouchers or pay stubs for all periods of employment.
5. Maintain copies of your bank statements that show direct or corresponding deposits from your employer(s).
6. Copies of you W-2 tax forms.

##### If you engage in employment that is not paid while on OPT, we recommend you keep the following records

1. Copies of employment agreements or contracts with the employer including start and end dates, training mode (on location, online, etc) and location of the internship/unpaid training for each employer.
2. Copies of all diplomas, completion certificates and/or certifications that you received related to the training programs identified.
3. If you worked/trained as an unpaid employee for a third party keep evidence of the projects/contracts you worked on.
4. Copies of company time and attendance records that document your daily tasks in detail for all employers during the unpaid internship or training.​​
​​

You will not be required to submit this proof of employment to OIE, but it may be requested by USCIS if you are applying for future immigration benefits.

This notice applies to all information and resource materials provided by the OIE for the domain oie.gatech.edu and for all other information provided by OIE in any media format. It is provided for informational purposes only, and is not represented to be error free, complete, accurate or current. The information contained herein is not legal advice and should not be used as a substitute for the legal advice or legal opinions of a licensed professional. Users should contact their own personal attorney or licensed professional to obtain appropriate legal advice or other professional counseling with respect to any particular issue or problem.

OIE is a unit of the Vice Provost of International Initiatives in the Office of the Provost.